body{
	color:#222;
	font-family: "Verdana", sans-serif;
	font-size:13px;
}
*{
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", "Times New Roman", serif;
}
h1{
	text-align:center;
	color:#576;
	padding:5px;
}
p {
	margin-bottom:1em;
}
h2{
	color: #576;
}
h3 {
	font-size: 110%;
	color: #465;
	padding-bottom:2px;
}
.header{
	background:#dee;
	border-top: 1px solid #abb;
	padding-left:8px;
	padding-top:2px;
	margin-top:15px;
	margin-bottom:10px;
/*	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
*/
}

div.note {
	background: #eef;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin-top:10px;
}
p.warning {
	background: url(warning.png) no-repeat fixed top;
}
ul .date{
	color:#888;
	font-size:10px;
}
a{
	text-decoration: none;
}

a:link {
	color: #33f;
}

div.outer{
	margin-top:5px;
	text-align:center;
	/*margin-bottom:5px;*/
}
div.innercontainer{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	width:950px;
	line-height:150%;
}
div.leftcolumn{
	width:450px;
	float:left;
}
div.rightcolumn{
	width:450px;
	float:right;
}
div.indent{
	margin-left:2em;
}
ul, ol{
	margin-left:2em;
	padding-left:0;
	color:#888;
}
ul {
	list-style-type:disc;
}
li .list{
	color:#222;
}

/* ------------------ Additional ---------------------- */
.subheader {
	padding-left:8px;
	padding-top:2px;
	margin-top:15px;
	margin-bottom:10px;
/*	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
*/
}

h4 {
	font-size: 110%;
	color: #465;
	padding-bottom:2px;
}

div.menu {
	text-align:center;
	color:#465;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
}

ul.listmenu{
	margin-left: 0px;
	padding-left: 0px;
	list-style-type:none;
}

ul.listmenu li {
	display: inline;
	background-color: #dee;
	border-style: outset;
	border-width: 1px;
}
ul.listmenu li a {
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em
}

ul.listmenu li a:hover {
	background-color: #D0D0D0
}

table.organizer {
	margin-left:auto;
	margin-right:auto;
	width:950px
}

td.left {
	width:450px;
}

td.right {
	width:450px;
}

div.footer {
	position:absolute;
	width:100%;
	margin-top:10px;
	margin-bottom:5px;
	text-align: center;
}

div.footer a img {
	opacity: 0.6;
	border:0 none;
}

div.footer a:hover img {
	opacity: 1;
}

span.no-list {
	color:#888;
	padding-left:8px;
}

/* ------------------ Friendfeed ---------------------- */
#friendfeed {
	border: 0px !important;
}

#friendfeed .widget .feed .body .logo {
	border: 0px !important;
	color:#222222;
}

#friendfeed .widget .feed .entry {
	font-family: "Georgia", "Times New Roman", serif;
	/*font-family: "Verdana", sans-serif;*/
	font-size:13px;
}

#friendfeed .logo img {
	display:none;
}

#friendfeed .feed .entry .comments .quote {
	display:none;
}

#friendfeed .bottom {
	display:none;
}

#friendfeed .picture {
	display:none;
}

#friendfeed .stats {
	clear:none;
}

#friendfeed .info {
	display:none;
}
